body {
    background-image: url('smooth-gradient-background_77528-21.avif');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

h1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 45px;
    font-style: italic;
    color: aqua;
    text-shadow: 0 0 4px rgb(248, 248, 248);
    box-shadow: 0 0 4px rgb(240, 238, 238);
    background-color: rgba(39, 37, 37, 0.414);
    border-radius: 10px;
    top: 0;
}



.main {
    height: 500px;
    width: 500px;
    background-color: rgba(36, 36, 36, 0.088);
    margin-left: auto;
    margin-right: auto;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
    border: 1px solid black;
    box-shadow: 0 0 4px rgb(255, 255, 255);
    border-radius: 10px;
}


.line1st {
    display: flex;
}

.dot1 {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: black;
    box-shadow: 0 0 5px white;
}

.line1 {
    height: 9px;
    width: 50px;
    border-radius: 20px;
    border: 1px solid black;
}

.red {
    background-color: red;
    box-shadow: 0 0 5px white;
}

.blue {
    background-color: blue;
    box-shadow: 0 0 5px white;
}


.line2nd {
    display: flex;
}

.line2 {
    height: 50px;
    width: 9px;
    border-radius: 20px;
    border: 1px solid black;
    margin-right: 50.5px;
}

.line1:hover:not(.red):not(.blue),
.line2:hover:not(.red):not(.blue) {
    background-color: rgb(149, 213, 129);
    cursor: pointer;
    box-shadow: 0 0 5px white;
}

.line2last {
    height: 50px;
    width: 9px;
    border-radius: 20px;
    border: 1px solid black;
}

.line2last:hover {
    background-color: red;
    cursor: pointer;
}

.footer {
    display: flex;
    margin-right: auto;

    width: fit-content;

    margin-left: auto;
}
@media (max-width: 610px) {
    h1 {
        margin-left: 9.48rem;
    }

    .footer {
        margin-left: 2rem;
    }
}

.resetbtn {
    background-color: rgb(14, 57, 163);
    font: bold;
    text-align: center;
    color: aqua;
    height: 40px;
    width: 150px;
    border-radius: 5px;
    margin-left: 19px;
    margin-top: 22px;
    font-size: 20px;
    font-style: italic;
    text-shadow: 0 0 4px black;
}

.resetbtn:hover {
    background-color: aqua;
    cursor: pointer;
}

.p1 {
    background-color: rgba(0, 0, 0, 0.078);
    font: bold;
    text-align: center;
    color: aqua;
    height: 40px;
    width: 150px;
    border-radius: 5px;
    margin-top: 22px;
    font-size: 27px;
    font-style: italic;
    text-shadow: 0 0 4px black;
    box-shadow: 0 0 3.9px red;
    border: 2px solid red;
}

.p2 {
    background-color: rgba(0, 0, 0, 0.078);
    font: bold;
    text-align: center;
    color: aqua;
    height: 40px;
    width: 150px;
    border-radius: 5px;
    margin-left: 19px;
    margin-top: 22px;
    font-size: 27px;
    font-style: italic;
    text-shadow: 0 0 4px black;
    box-shadow: 0 0 3.9px blue;
    border: 2px solid blue;
}
